/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/18807719-0de2-47b7-9589-e708ae58f75a.vsidx
/RemoteCtrl/.vs/RemoteCtrl/FileContentIndex/bdc498ca-b7f5-4cbd-93e0-e17da4f8200c.vsidx
/RemoteCtrl/.vs/RemoteCtrl/v17/.suo
/RemoteCtrl/.vs/RemoteCtrl/v17/Browse.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v17/DocumentLayout.json
/RemoteCtrl/.vs/RemoteCtrl/v17/fileList.bin
/RemoteCtrl/.vs/RemoteCtrl/v17/ipch/98c148ba300aa9c3.ipch
/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/RemoteCtrl/.vs/RemoteCtrl/v17/DocumentLayout.backup.json
/RemoteCtrl/.vs/RemoteCtrl/v17/Solution.VC.db
/RemoteCtrl/.vs/RemoteCtrl/v17
/RemoteCtrl/RemoteClient/x64/Debug
/RemoteCtrl/RemoteCtrl/x64/Debug
/RemoteCtrl/x64/Debug
